<!doctype html>
<title>Password generator from Flask</title>
<h2>Password generator</h2>
Usage:
<code>
  curl -L https://pwgen.zsh.io/X/Y
</code>
<br></br>
Where <b><code>X</code></b> is the length of the password and <b><code>Y</code></b>
is number of passwords you need. This last value is optional and by default it will return one.
<br>
You can also use the route <b><code>/vault</code></b> to request <a href="https://www.vaultproject.io/docs/concepts/tokens.html">vault-format</a> token IDs.

<h3>CLI Examples</h3>
<pre>
    $ curl -L pwgen.zsh.io/10
    VvI2FMUO]1

    $ curl -L pwgen.zsh.io/20/4
    )Zb264P4JsV5Pe7JAjKw
    oJNQBvz9sRumAgZ~if4b
    KvZT(zhceryJyvya34gd
    S\c152niwkRAVyT3bUwO

    $ curl -L pwgen.zsh.io/vault
    wxg379a2-72d6-iay7-mtpq-zqyxdxsqud23
</pre>
<a href="https://gitlab.com/boris/pwgen">Code on GitLab</a>. Like this page? <a href="/donate">Donate</a>.
