<!doctype html>
<title>Password generator, powered by Flask</title>
<h2>Password generator</h2>
Usage:
<code>
  curl -L https://pwgen.btmn.dev/X/Y
</code>
<br></br>
Where <b><code>X</code></b> is the length of the password and <b><code>Y</code></b>
is number of passwords you need. This last value is optional and by default it will return one.

<h3>CLI Examples</h3>
<pre>
    $ curl -L pwgen.btmn.dev/10
    uWx4q4~JQa

    $ curl -L pwgen.btmn.dev/20/4
    oDMSVb8Qhb.T6p0FehCU
    hL6gXjivTrvqXw&qdN4j
    KFcB0VW%2k7AI7noENRe
    pnta6A1Yacnbh.qpkw5P

</pre>
<a href="https://github.com/boris/pwgen">Code on GitHub</a>. Like this page? <a href="/donate">Donate</a>.
<br></br>
<code> Current rev: {{short_hash}}</code>
